<div class="fixed flex justify-center items-center border-white border top-10 left-0 w-96 h-20 bg-black gap-4">
<img src="{{ asset('images/hugo.png') }}" alt="logo" class="w-10 h-10" />
    <div class="flex flex-col items-center justify-center">
        <div class="flex gap-2">
            <img src="{{ asset('images/platine.png') }}" alt="logo" class="w-7 h-7" id="logo-mail">
            <h4 id="title-mail" class="text-white text-xl">test eqzez</h4>
        </div>
        <p id="message-mail" class="text-white text-lg">zeqze eqezq eqezqze</p>
    </div>
    <div class="absolute left-0 w-16 h-full opacity-20 z-10 bg-gradient-to-r from-white"></div>
</div>